body {
    display: block;
    text-align-last: center;
}
h1 {
    background-color: greenyellow;
    width: 300px;
    margin: 0 auto;
    font-size: 20px;
}
.skills {
    width: 300px;
    height: auto;
    margin: 0 auto;
}

.removeBtn {
    background-color: red;
    color: white;

}